@tailwind base;
@tailwind components;
@tailwind utilities;

.dynamic-txt {
  @apply text-slate-800 font-bold mr-3;
}

.card {
  @apply bg-white rounded overflow-hidden shadow-md relative p-2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
